<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.app.order.repository.impl.OrderRepositoryImpl">
	<select id="selectMenuList"
	        parameterType="int"
	        resultType="com.cafe.app.menu.vo.MenuVO">
		SELECT MENU_ID
			, NAME
			, PRICE
			, IS_AVAILABLE
			, CREATED_AT
			, UPDATED_AT
			, IS_USED
			, CATEGORY_ID
			, IMAGE_PATH
		  FROM menu
		 WHERE CATEGORY_ID = #{category}
	</select>
	<select id="selectMenuDetail"
		    parameterType="string"
	        resultType="com.cafe.app.menu.vo.MenuVO">
		SELECT MENU_ID
			, NAME
			, PRICE
			, IS_AVAILABLE
			, CREATED_AT
			, UPDATED_AT
			, IS_USED
			, CATEGORY_ID
			, IMAGE_PATH
			, DESCRIPTION
		  FROM menu
		 WHERE MENU_ID = #{id}
	</select>
	<insert id="insertOrder"
	        parameterType="com.cafe.app.order.vo.RequestOrderVO"
			useGeneratedKeys="true"
			keyProperty="orderId"> <!-- DB가 자동 생성한 키를 받아 옴, 키를 파라미터 객체의 필드에 넣음 -->
		INSERT INTO orders
			( USER_ID
			, STATUS
			, CREATED_TIME
			, UPDATED_TIME
			, IS_USED
		    , AMOUNT)
			VALUES
			( #{userId}
			,'ORDERED'
			, NOW()
			, NOW()
			, 'Y'
		    , #{amount})
	</insert>
	<insert id="insertPayment"
			parameterType="com.cafe.app.order.vo.RequestOrderVO">
		INSERT INTO payment
			( ORDER_ID
			, MERCHANT_UID
			, AMOUNT
			, STATUS
			, PAY_METHOD
			, CREATED_TIME
			, UPDATED_TIME
			, IS_USED)
		VALUES(#{orderId}
		      , #{orderId}
		      , #{amount}
		      , 'READY'
		      , NULL
		      , NOW()
		      , NOW()
		      , 'Y')
	</insert>
	<insert id="insertOrderItem"
	        parameterType="map"
			useGeneratedKeys="true"
			keyProperty="orderItemId">
	     INSERT INTO order_item
             ( ORDER_ID
             , MENU_ID
             , QUANTITY
             , CREATED_TIME
             , UPDATED_TIME
             , IS_USED)
          VALUES
          ( #{orderId}
          , #{menuVO.menuId}
          , #{menuVO.quantity}
          , NOW()
          , NOW()
          , 'Y' )
	</insert>
	<select id="readItemCountById"
	        parameterType="com.cafe.app.seat.vo.RequestTempVO"
			resultType="int">	
		SELECT SUM(QUANTITY)
		  FROM order_item
		 WHERE ORDER_ID = #{orderId}
	</select>
	<select id="readItemSummaryById"
	        parameterType="string"
			resultType="com.cafe.app.order.vo.ItemSummaryVO">
		SELECT m.NAME 
		, oi.QUANTITY 
		, m.PRICE 
	      FROM order_item oi
	     INNER JOIN menu m
		    ON oi.MENU_ID  = m.MENU_ID 
	     WHERE oi.ORDER_ID = #{orderId}
	</select>
	<select id="readSeatSummaryById"
			parameterType="string"
			resultType="com.cafe.app.order.vo.SeatSummaryVO">
		SELECT S.SEAT_NUMBER
		     , R.START_TIME
		     , R.END_TIME
		  FROM reservation R
		 INNER JOIN seat S
		    ON R.SEAT_ID = S.SEAT_ID
		 WHERE R.ORDER_ID = #{orderId}
	</select>
	<select id="selectAmountById"
			parameterType="string"
			resultType="int">
		SELECT AMOUNT
		  FROM orders
		 WHERE ORDER_ID = #{orderId}
	</select>
	<select id="selectSeatListById"
			parameterType="string"
			resultType="string">
		SELECT SEAT_ID
		  FROM reservation
		WHERE ORDER_ID = #{orderId}
	</select>
	<update id="updateReservationStatus"
			parameterType="string">
		UPDATE reservation
		SET STATUS = 'CONFIRMED'
		WHERE ORDER_ID = #{orderId}
	</update>
	<update id="updateFailedPaymentById"
			parameterType="string">
		UPDATE payment
		SET STATUS = 'FAILED'
		WHERE ORDER_ID = #{orderId}
	</update>
	<update id="updatePaidPaymentById"
			parameterType="string">
		UPDATE payment
		SET STATUS = 'PAID'
		WHERE ORDER_ID = #{orderId}
	</update>
 </mapper>
