<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.app.seat.repository.impl.SeatRepositoryImpl">
	<select id="selectAllSeats"
	        resultType="com.cafe.app.seat.vo.SeatVO">
		SELECT SEAT_ID
		     , SEAT_NUMBER
		     , IS_OCCUPIED
		     , CREATED_TIME 
		     , UPDATED_TIME
		     , IS_USED
		     , SEAT_ROW
		     , SEAT_COL
		  FROM SEAT
	</select>
	<insert id="insertTempSeat"
		    parameterType="com.cafe.app.seat.vo.RequestTempVO">
		<selectKey keyProperty="reservationId"
				   resultType="java.lang.String"
				   order="BEFORE">
			SELECT 'RSRV-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_RESERVATION.NEXTVAL, 6, '0')
              FROM DUAL
		</selectKey>
		INSERT INTO RESERVATION
		(RESERVATION_ID
		, ORDER_ID
		, SEAT_ID
		, RESERVE_DATE
		, START_TIME
		, END_TIME
		, STATUS
		, CREATED_TIME
		, UPDATED_TIME
		, IS_USED)
		VALUES
		( #{reservationId}
		, #{orderId}
		, #{seatId}
		, SYSDATE
		, SYSDATE
		, SYSDATE + (#{reserveTime} / 24)
		, 'TEMP'
		, SYSDATE 
		, SYSDATE 
		, 'Y' )
	</insert>

 </mapper>
