<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe.app.seat.repository.impl.SeatRepositoryImpl">
	<select id="selectAllSeats"
	        resultType="com.cafe.app.seat.vo.SeatVO">
		SELECT SEAT_ID
		     , SEAT_NUMBER
		     , STATUS
		     , CREATED_TIME
		     , UPDATED_TIME
		     , SEAT_ROW
		     , SEAT_COL
		  FROM seat
	</select>
	<insert id="insertTempSeat"
		    parameterType="com.cafe.app.seat.vo.RequestTempVO"
			useGeneratedKeys="true"
			keyProperty="reservationId">
		INSERT INTO reservation
		( ORDER_ID
		, SEAT_ID
		, RESERVE_DATE
		, START_TIME
		, END_TIME
		, STATUS
		, CREATED_TIME
		, UPDATED_TIME
		, IS_USED)
		VALUES
		( #{orderId}
		, #{seatId}
		, NOW()
		, NOW()
		, NOW() + INTERVAL #{reserveTime} HOUR
		, 'TEMP'
		, NOW()
		, NOW()
		, 'Y' )
	</insert>
	<update id="updateSeatStatus"
			parameterType="map">
		UPDATE seat
		   SET STATUS = #{status}
		 WHERE SEAT_ID = #{seatId}
	</update>
	<select id="selectSeatForUpdate"
			parameterType="string"
			resultType="com.cafe.app.seat.vo.SeatVO">
		SELECT SEAT_NUMBER
		     , STATUS
		  FROM seat
		 WHERE SEAT_ID = #{seatId}
		   FOR UPDATE
	</select>
	<select id="selectExpiredSeats"
			resultType="string">
		SELECT S.SEAT_ID
		  FROM reservation R
		 INNER JOIN seat S
	 	    ON R.SEAT_ID = S.SEAT_ID
		 WHERE NOW() > R.END_TIME
		   AND R.STATUS IN ('TEMP', 'CONFIRMED') <!-- 다음 배치 실행 시 중복 처리 제외 -->
	</select>
	<update id="updateReservationStatus"
			parameterType="string">
		UPDATE reservation
		   SET STATUS = 'EXPIRED'
		     , UPDATED_TIME = NOW()
		 WHERE SEAT_ID = #{seatId}
		   AND NOW() > END_TIME
	</update>
	<update id="updateSeatStatusToReserved"
			parameterType="string">
		UPDATE seat
		SET STATUS = 'RESERVED'
		WHERE SEAT_ID = #{seatId}
	</update>
	<select id="selectTempSeats"
			resultType="string">
		SELECT SEAT_ID
		  FROM reservation
		 WHERE STATUS = 'TEMP'
		   AND NOW() > CREATED_TIME + INTERVAL 5 MINUTE
	</select>

 </mapper>
